<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <title>Carlist</title>
    <link href="../Styles.css" type="text/css" rel="stylesheet"
          th:href="@{../Styles.css}">
</head>

<body>
<form th:action="@{/logout}" method=
        "post">
    <input id="addbutton" type="submit" value="Sign Out"/>
</form>
<header><h3>CarList</h3></header>

<div>
    <a href="/addcar" id="addbutton">Add Car</a>

    <table>
        <tbody>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Fuel</th>
            <th>Year</th>
            <th>Price (€)</th>
        </tr>

        <tr th:each="car : ${cars}">
            <td th:text="${car.getBrand().getBrandName()}">Brand</td>
            <td th:text="${car.getModel()}">Model</td>
            <td th:text="${car.getFuel()}">Fuel</td>
            <td th:text="${car.getYear()}">Year</td>
            <td th:text="${car.getPrice()}">Price</td>
            <td><a th:href="@{cars/{id}(id=${car.getId()})}">View</a> <br> <a sec:authorize="hasRole('ADMIN')"
                                                                              th:href="@{/editcar/{id}(id=${car.getId()})}">Edit</a>
                <br>
                <a sec:authorize="hasRole('ADMIN')"
                   th:href="@{/deletecar/{id}/confirm (id=${car.getId()})}">Delete</a></td>

        </tr>

        </tbody>

    </table>

</div>


</body>
</html>
